Package: com.fpsbinios.bin
Name: FPSDoiMau
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: @BINIOS
Author: @BINIOS
Section: Tweaks
